@font-face {
  font-family: 'Montserrat_Alternates';
  src: url('./Montserrat_Alternates/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Bezier_Sans';
  src: url('./Bezier Sans/Bézier Sans™_Bold.ttf') format('truetype');
  font-weight: 633;
  font-style: normal;
}

header {
    height: 10vh;
} 